<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [1]:
!pip install yfinance==0.1.67
!mamba install bs4==4.10.0 -y
!pip install nbformat==4.2.0

Collecting yfinance==0.1.67
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: pandas>=0.24 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (1.3.5)
Requirement already satisfied: requests>=2.20 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (2.28.1)
Requirement already satisfied: lxml>=4.5.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (4.9.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: numpy>=1.15 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2022.6)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (3.4)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance==0.1.67) (1.16.0)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.67

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['bs4==4.10.0']

pkgs/main/linux-64       [<=>                 ] (00m:00s)
pkgs/main/linux-64       [=>                ] (00m:00s) 498  B / ?? (3.19 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 498  B / ?? (3.19 KB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s)
pkgs/main/linux-64       [=>                ] (00m:00s) 498  B / ?? (3.19 KB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 496  B / ?? (3.17 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 498  B / ?? (3.19 KB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 496  B / ?? (3.17 KB/s)
pkgs/r/noarch            [<=>                 ] (00m:00s)
pkgs/main/linux-64       [=>                ] (00m:00s) 498  B / ?? (3.19 KB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 496  B / ?? (3.17 KB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 495  B / ?? (3.16 KB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 498  B / ?? (3.19 KB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 496  B / ?? (3.17 KB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 495  B / ?? (3.16 KB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 496  B / ?? (3.17 KB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 495  B / ?? (3.16 KB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 496  B / ?? (3.17 KB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 495  B / ?? (3.16 KB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 776 KB / ?? (2.49 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 495  B / ?? (3.16 KB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 776 KB / ?? (2.49 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 495  B / ?? (3.16 KB/s)
pkgs/r/linux-64          [<=>                 ] (00m:00s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 776 KB / ?? (2.49 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 495  B / ?? (3.16 KB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 712 KB / ?? (2.28 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 776 KB / ?? (2.49 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 495  B / ?? (3.16 KB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 712 KB / ?? (2.28 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 776 KB / ?? (2.49 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 768 KB / ?? (2.44 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 712 KB / ?? (2.28 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/main/noarch         [ <=>                ] (00m:00s) Finalizing...
pkgs/r/noarch            [<=>               ] (00m:00s) 768 KB / ?? (2.44 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 712 KB / ?? (2.28 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/main/noarch         [ <=>                ] (00m:00s) Done
pkgs/r/noarch            [<=>               ] (00m:00s) 768 KB / ?? (2.44 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 712 KB / ?? (2.28 MB/s)
pkgs/main/noarch         [====================] (00m:00s) Done
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 768 KB / ?? (2.44 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 712 KB / ?? (2.28 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/r/noarch            [ <=>                ] (00m:00s) Finalizing...
pkgs/r/linux-64          [=>                ] (00m:00s) 712 KB / ?? (2.28 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/r/noarch            [ <=>                ] (00m:00s) Done
pkgs/r/linux-64          [=>                ] (00m:00s) 712 KB / ?? (2.28 MB/s)
pkgs/r/noarch            [====================] (00m:00s) Done
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 712 KB / ?? (2.28 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/r/linux-64          [<=>                 ] (00m:00s) Finalizing...
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/r/linux-64          [<=>                 ] (00m:00s) Done
pkgs/r/linux-64          [====================] (00m:00s) Done
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/main/linux-64       [ <=>              ] (00m:00s) 732 KB / ?? (2.36 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 1 MB / ?? (2.89 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 1 MB / ?? (2.89 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 2 MB / ?? (3.61 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 2 MB / ?? (3.61 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 3 MB / ?? (3.73 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 3 MB / ?? (3.73 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 4 MB / ?? (3.89 MB/s)
pkgs/main/linux-64       [      <=>           ] (00m:00s) 4 MB / ?? (3.89 MB/s)
pkgs/main/linux-64       [      <=>           ] (00m:00s) 4 MB / ?? (4.05 MB/s)
pkgs/main/linux-64       [       <=>          ] (00m:01s) 4 MB / ?? (4.05 MB/s)
pkgs/main/linux-64       [       <=>          ] (00m:01s) 5 MB / ?? (4.12 MB/s)
pkgs/main/linux-64       [       <=>          ] (00m:01s) Finalizing...
pkgs/main/linux-64       [       <=>          ] (00m:01s) Done
pkgs/main/linux-64       [====================] (00m:01s) Done

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - bs4==4.10.0
   - ca-certificates
   - certifi
   - openssl


  Package               Version  Build           Channel                  Size
────────────────────────────────────────────────────────────────────────────────
  Install:
────────────────────────────────────────────────────────────────────────────────

  + bs4                  4.10.0  hd3eb1b0_0      pkgs/main/noarch        10 KB

  Upgrade:
────────────────────────────────────────────────────────────────────────────────

  - ca-certificates   2022.9.24  ha878542_0      installed
  + ca-certificates  2023.01.10  h06a4308_0      pkgs/main/linux-64     120 KB
  - certifi           2022.9.24  pyhd8ed1ab_0    installed
  + certifi           2022.12.7  py37h06a4308_0  pkgs/main/linux-64     150 KB
  - openssl              1.1.1s  h0b41bf4_1      installed
  + openssl              1.1.1t  h7f8727e_0      pkgs/main/linux-64       4 MB

  Downgrade:
────────────────────────────────────────────────────────────────────────────────

  - beautifulsoup4       4.11.1  pyha770c72_0    installed
  + beautifulsoup4       4.10.0  pyh06a4308_0    pkgs/main/noarch        85 KB

  Summary:

  Install: 1 packages
  Upgrade: 3 packages
  Downgrade: 1 packages

  Total download: 4 MB

────────────────────────────────────────────────────────────────────────────────

Downloading  [>                                        ] (00m:00s)   62.54 KB/s
Extracting   [>                                                      ] (--:--)
Finished bs4                                  (00m:00s)              10 KB     62 KB/s
Downloading  [>                                        ] (00m:00s)   62.54 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   62.54 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   62.54 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [=>                                       ] (00m:00s)  968.66 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [==>                                      ] (00m:00s)    1.65 MB/s
Extracting   [>                                                      ] (--:--)
Finished ca-certificates                      (00m:00s)             120 KB    723 KB/s
Downloading  [==>                                      ] (00m:00s)    1.65 MB/s
Extracting   [>                                                      ] (--:--)
Downloading  [==>                                      ] (00m:00s)    1.65 MB/s
Extracting   [>                                                      ] (--:--)
Finished certifi                              (00m:00s)             150 KB    912 KB/s
Downloading  [==>                                      ] (00m:00s)    1.65 MB/s
Extracting   [>                                                      ] (--:--)
Downloading  [==>                                      ] (00m:00s)    1.65 MB/s
Extracting   [>                                                      ] (--:--)
Downloading  [==>                                      ] (00m:00s)    1.65 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    2.01 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    2.01 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Finished beautifulsoup4                       (00m:00s)              85 KB    477 KB/s
Downloading  [===>                                     ] (00m:00s)    2.01 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    2.01 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    2.01 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [===>                                     ] (00m:00s)    2.01 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [=========================================] (00m:00s)   20.27 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [=========================================] (00m:00s)   20.27 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Downloading  [=========================================] (00m:00s)   20.27 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Finished openssl                              (00m:00s)               4 MB     19 MB/s
Downloading  [=========================================] (00m:00s)   20.27 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Downloading  [=========================================] (00m:00s)   20.27 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Downloading  [=========================================] (00m:00s)   20.27 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)   20.27 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)   20.27 MB/s
Extracting   [=========================================] (00m:00s)        5 / 5
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting nbformat==4.2.0
  Downloading nbformat-4.2.0-py2.py3-none-any.whl (153 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.3/153.3 kB 18.5 MB/s eta 0:00:00
Requirement already satisfied: jupyter-core in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from nbformat==4.2.0) (4.12.0)
Requirement already satisfied: traitlets>=4.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from nbformat==4.2.0) (5.6.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from nbformat==4.2.0) (4.17.3)
Requirement already satisfied: ipython-genutils in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from nbformat==4.2.0) (0.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (5.10.1)
Requirement already satisfied: attrs>=17.4.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (22.1.0)
Requirement already satisfied: typing-extensions in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (4.4.0)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (1.3.10)
Requirement already satisfied: importlib-metadata in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (4.11.4)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (0.19.2)
Requirement already satisfied: zipp>=3.1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-resources>=1.4.0->jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (3.11.0)
Installing collected packages: nbformat
  Attempting uninstall: nbformat
    Found existing installation: nbformat 5.7.0
    Uninstalling nbformat-5.7.0:
      Successfully uninstalled nbformat-5.7.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
nbconvert 7.2.6 requires nbformat>=5.1, but you have nbformat 4.2.0 which is incompatible.
nbclient 0.7.2 requires nbformat>=5.1, but you have nbformat 4.2.0 which is incompatible.
jupyter-server 1.23.3 requires nbformat>=5.2.0, but you have nbformat 4.2.0 which is incompatible.
Successfully installed nbformat-4.2.0

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [3]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False, height=900, title=stock, xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [4]:
tesla=yf.Ticker("TSLA")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [5]:
tesla_data=tesla.history(periode="max")
tesla_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2023-02-22 to 2023-03-22
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          21 non-null     float64
 1   High          21 non-null     float64
 2   Low           21 non-null     float64
 3   Close         21 non-null     float64
 4   Volume        21 non-null     int64
 5   Dividends     21 non-null     int64
 6   Stock Splits  21 non-null     int64
dtypes: float64(4), int64(3)
memory usage: 1.3 KB

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [6]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-02-22,197.929993,201.990005,191.779999,200.860001,191828500,0,0
1,2023-02-23,203.910004,205.139999,196.330002,202.070007,146360000,0,0
2,2023-02-24,196.330002,197.669998,192.800003,196.880005,142228100,0,0
3,2023-02-27,202.029999,209.419998,201.259995,207.630005,161028300,0,0
4,2023-02-28,210.589996,211.229996,203.750000,205.710007,153144900,0,0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [7]:
html_data='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'
data=requests.get(html_data).text

Parse the html data using `beautiful_soup`.

In [8]:
soup=BeautifulSoup(data,"html.parser")

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Quarterly Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [9]:
tables=soup.find_all("table")
len(tables)

6

In [10]:
for index,table in enumerate(tables):
    if ("Tesla Quarterly Revenue" in str(table)):
        table_index = index
print(table_index)

1

In [11]:
tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        date= col[0].text
        revenue = col[1].text
       
        tesla_revenue = tesla_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)
tesla_revenue

          Date  Revenue
0   2022-09-30  $21,454
1   2022-06-30  $16,934
2   2022-03-31  $18,756
3   2021-12-31  $17,719
4   2021-09-30  $13,757
5   2021-06-30  $11,958
6   2021-03-31  $10,389
7   2020-12-31  $10,744
8   2020-09-30   $8,771
9   2020-06-30   $6,036
10  2020-03-31   $5,985
11  2019-12-31   $7,384
12  2019-09-30   $6,303
13  2019-06-30   $6,350
14  2019-03-31   $4,541
15  2018-12-31   $7,226
16  2018-09-30   $6,824
17  2018-06-30   $4,002
18  2018-03-31   $3,409
19  2017-12-31   $3,288
20  2017-09-30   $2,985
21  2017-06-30   $2,790
22  2017-03-31   $2,696
23  2016-12-31   $2,285
24  2016-09-30   $2,298
25  2016-06-30   $1,270
26  2016-03-31   $1,147
27  2015-12-31   $1,214
28  2015-09-30     $937
29  2015-06-30     $955
30  2015-03-31     $940
31  2014-12-31     $957
32  2014-09-30     $852
33  2014-06-30     $769
34  2014-03-31     $621
35  2013-12-31     $615
36  2013-09-30     $431
37  2013-06-30     $405
38  2013-03-31     $562
39  2012-12-31     $306
40  2012-09-30      $50
41  2012-06-30      $27
42  2012-03-31      $30
43  2011-12-31      $39
44  2011-09-30      $58
45  2011-06-30      $58
46  2011-03-31      $49
47  2010-12-31      $36
48  2010-09-30      $31
49  2010-06-30      $28
50  2010-03-31      $21
51  2009-12-31
52  2009-09-30      $46
53  2009-06-30      $27

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [12]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace('$',"")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

Execute the following lines to remove an null or empty strings in the Revenue column.

In [13]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [14]:
tesla_revenue.tail[5]

TypeError: 'method' object is not subscriptable

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [15]:
gme=yf.Ticker("GME")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [16]:
gme.history(periode='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-02-22,20.530001,21.190001,20.330000,20.520000,2164900,0,0
2023-02-23,20.660000,20.870001,19.530001,20.139999,2862000,0,0
2023-02-24,19.709999,20.080000,19.540001,19.540001,2277600,0,0
2023-02-27,19.610001,19.700001,18.889999,19.100000,4006700,0,0
2023-02-28,19.059999,19.520000,18.950001,19.230000,3373800,0,0
2023-03-01,18.920000,19.090000,18.139999,18.150000,4210100,0,0
2023-03-02,18.150000,18.400000,17.620001,18.190001,2622100,0,0
2023-03-03,18.190001,19.100000,18.100000,18.700001,2502000,0,0
2023-03-06,18.520000,19.500000,18.520000,18.650000,2815300,0,0
2023-03-07,18.540001,18.840000,18.059999,18.059999,2375300,0,0
2023-03-08,18.049999,18.379999,17.629999,18.170000,3277800,0,0
2023-03-09,18.070000,18.379999,17.480000,17.520000,2652600,0,0
2023-03-10,17.530001,17.770000,16.850000,17.250000,2835800,0,0
2023-03-13,16.770000,17.350000,16.520000,16.750000,2959100,0,0
2023-03-14,17.370001,17.410000,16.400000,16.910000,3077400,0,0
2023-03-15,16.500000,16.690001,15.700000,15.950000,4541500,0,0
2023-03-16,16.000000,16.770000,15.530000,16.760000,4083000,0,0
2023-03-17,16.620001,16.719999,15.920000,16.600000,5092100,0,0
2023-03-20,16.650000,17.270000,16.250000,16.870001,4463700,0,0
2023-03-21,17.150000,18.350000,17.139999,17.650000,13613500,0,0
2023-03-22,26.600000,27.000000,23.049999,24.850000,53166832,0,0

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [17]:
gme.rest_index(inplace=true)

AttributeError: 'Ticker' object has no attribute 'rest_index'

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data`.

In [18]:
url='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'
html_data=requests.get(url).text

Parse the html data using `beautiful_soup`.

In [19]:
soup=BeautifulSoup(html_data,'html.parser')

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Quarterly Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column using a method similar to what you did in Question 2.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [20]:
tables=soup.find_all("table")
len(tables)

6

In [21]:
for index,table in enumerate(tables):
    if ("GameStop Quarterly Revenue" in str(table)):
        table_index = index
print(table_index)

1

In [22]:
gme_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        date= col[0].text
        revenue = col[1].text
       
        gme_revenue = tesla_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)
gme_revenue

          Date Revenue
0   2022-09-30  21,454
1   2022-06-30  16,934
2   2022-03-31  18,756
3   2021-12-31  17,719
4   2021-09-30  13,757
5   2021-06-30  11,958
6   2021-03-31  10,389
7   2020-12-31  10,744
8   2020-09-30   8,771
9   2020-06-30   6,036
10  2020-03-31   5,985
11  2019-12-31   7,384
12  2019-09-30   6,303
13  2019-06-30   6,350
14  2019-03-31   4,541
15  2018-12-31   7,226
16  2018-09-30   6,824
17  2018-06-30   4,002
18  2018-03-31   3,409
19  2017-12-31   3,288
20  2017-09-30   2,985
21  2017-06-30   2,790
22  2017-03-31   2,696
23  2016-12-31   2,285
24  2016-09-30   2,298
25  2016-06-30   1,270
26  2016-03-31   1,147
27  2015-12-31   1,214
28  2015-09-30     937
29  2015-06-30     955
30  2015-03-31     940
31  2014-12-31     957
32  2014-09-30     852
33  2014-06-30     769
34  2014-03-31     621
35  2013-12-31     615
36  2013-09-30     431
37  2013-06-30     405
38  2013-03-31     562
39  2012-12-31     306
40  2012-09-30      50
41  2012-06-30      27
42  2012-03-31      30
43  2011-12-31      39
44  2011-09-30      58
45  2011-06-30      58
46  2011-03-31      49
47  2010-12-31      36
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
51  2009-09-30      46
52  2009-06-30      27
53  2005-01-31    $709

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`. Note the graph will only show data upto June 2021.

In [23]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False, height=900, title=stock, xaxis_rangeslider_visible=True)
    fig.show()

In [24]:
make_graph(html_data,gme_revenue,gme)

AttributeError: 'str' object has no attribute 'Date'

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>